<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gsprasad.justwashapi" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Just Wash</name>
    <description>
        Just Wash is a car washing company which offers door step services by ordering through a mobile application.
    </description>
    <author email="support@justwash.com" href="http://bharat99.com">
        Just Wash Team
    </author>
    <content src="index.html" />        
    <preference name="splashscreen" value="none"/>
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="white-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="splashScreenDelay" value="5000" />

    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.core.geolocation" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />

    <!-- Third Party Plugins -->
    <gap:plugin name="com.paypal.cordova.mobilesdk"/>

    <!-- Icons -->
    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="www/icon.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/icon.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/icon.png"/>
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/icon.png" />
    <icon gap:platform="blackberry" src="www/icon.png"/>
    <icon gap:platform="blackberry" gap:state="hover" src="www/icon.png"/>
    <icon gap:platform="ios" height="57" src="www/icon.png" width="57" />
    <icon gap:platform="ios" height="72" src="www/icon.png" width="72" />
    <icon gap:platform="ios" height="114" src="www/icon.png" width="114" />
    <icon gap:platform="ios" height="144" src="www/icon.png" width="144" />
    <icon gap:platform="webos" src="www/icon.png" />
    <icon gap:platform="winphone" src="www/icon.png" />
    <icon gap:platform="winphone" gap:role="background" src="www/icon.png" />

    <!-- iPhone and iPod touch -->
    <splash src="splash.png" />
    <splash src="splash.png" platform="ios" width="320" height="480" />
    <splash src="splash.png" platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <splash src="splash.png.png" platform="ios" width="640" height="1136" />

    <!-- iPhone 6 -->
    <splash src="splash.png" platform="ios" width="750" height="1334" />
    <splash src="splash.png" platform="ios" width="1242" height="2208" />
    <splash src="splash.png" platform="ios" width="2208" height="1242" />

    <!-- iPad -->
    <splash src="splash.png" platform="ios" width="768" height="1024" />
    <splash src="splash.png" platform="ios" width="1024" height="768" />

    <!-- Retina iPad -->
    <splash src="splash.png" platform="ios" width="1536" height="2048" />
    <splash src="splash.png" platform="ios" width="2048" height="1536" />

    <!-- Android -->
    <splash src="splash.png" platform="android" qualifier="ldpi" />
    <splash src="splash.png" platform="android" qualifier="mdpi" />
    <splash src="splash.png" platform="android" qualifier="hdpi" />
    <splash src="splash.png" platform="android" qualifier="xhdpi" />
    <splash src="splash.png" platform="android" qualifier="fr-xhdpi" />
    <splash src="splash.png" platform="android" qualifier="port-xxhdpi" />
    <splash src="splash.png" platform="android" qualifier="land-xxhdpi" />

    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="ios" spec="~3.9.2" />
</widget>
